# kotlin backend
backend/kotlin/.gradle
backend/kotlin/.idea
backend/kotlin/out
backend/kotlin/build
*.iml
*.ipr
*.iws

# node backend
backend/nodejs/node_modules

# vue frontend
frontend/vue/.DS_Store
frontend/vue/node_modules
frontend/vue/dist

frontend/vue/.env.local
frontend/vue/.env.*.local

frontend/vue/npm-debug.log*
frontend/vue/yarn-debug.log*
frontend/vue/yarn-error.log*
frontend/vue/pnpm-debug.log*

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# android
mobile/android/.idea/
mobile/android/.gradle
mobile/android/local.properties
mobile/android/.idea/caches
mobile/android/.idea/libraries
mobile/android/.idea/modules.xml
mobile/android/.idea/workspace.xml
mobile/android/.idea/navEditor.xml
mobile/android/.idea/assetWizardSettings.xml
mobile/android/.DS_Store
mobile/android/build
mobile/android/captures
mobile/android/.externalNativeBuild
mobile/android/.cxx
mobile/android/local.properties

# flutter
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

mobile/flutter/.idea/
**/doc/api/
**/ios/Flutter/.last_build_id
mobile/flutter/.dart_tool/
mobile/flutter/.flutter-plugins
mobile/flutter/.flutter-plugins-dependencies
mobile/flutter/.packages
mobile/flutter/.pub-cache/
mobile/flutter/.pub/
mobile/flutter/build/

mobile/flutter/lib/generated_plugin_registrant.dart


mobile/flutter/app.*.symbols
mobile/flutter/app.*.map.json

mobile/flutter/android/app/debug
mobile/flutter/android/app/profile
mobile/flutter/android/app/release
